doctype html
html(lang='en')
	include ../common/head.pug
	+head("Starter MVP")
	body
		header
			include ../common/navbar.pug
			+navbar()

			style 
				include ../../public/stylesheets/style.css
			
			

			.center
				.group
					h1 PH 
					canvas(id="myChart" width="350" height="350")
				.group
					h1 EC
					canvas(id="myChart1" width="350" height="350")
				.group
					h1 TEMPERATURE
					canvas(id="myChart2" width="350" height="350")
			button(type='submit' onclick="Click()") สาร A
			h1(id="subStanceA") #{subStanceA}
			button(type='submit' onclick="testClick()") สาร B
			h1(id="subStanceB") #{subStanceB}
			button(type='submit' onclick="testClick()") กรดไนตริก
			h1(id="nitric") #{nitric}
			button(type='submit' onclick="testClick()") ปั้ม
			h1(id="pump") #{pump}
			button(type='submit' onclick="testClick()") วาว์น้ำ
			h1(id="waterValve") #{waterValve}

		include ../common/footer.pug
		+footer()
		
		//- script(src="../../public/javascripts/require.js" data-main="../../public/javascripts/mqtt.js")
		script.

			var client = mqtt.connect({host: '51.79.157.39',port: 1884});
			var payload = "eiei";
			let tempData,phData,ecData;
			let subStanceA =document.getElementById("subStanceA")
			let subStanceB =document.getElementById("subStanceB")
			let nitric =document.getElementById("subStanceB")
			pump,waterValve
			var topicZ;

			client.on("connect", function () {
			client.subscribe("test");
			client.subscribe("phdata");
			});

			client.on("message", function (topic, message) {
				// message is Buffer
				console.log(topic, message.toString());
				if(topic=="phdata"){
					phData=message
				}
				if(topic=="ecdata"){
					ecData=message
				}
				if(topic=="tempdata"){
					tempData=message
				}
				payload = message;
				//- document.getElementById("ph").innerHTML = message;

			});
			
			function testClick(){
				console.log("clicked")
				client.publish("testsend",'hello nigga')
			}


		
		
				//- console.log('model == asdasds', )
			var chartDom = document.getElementById("myChart");
			var myChart = echarts.init(chartDom);
			var option;
			var chartDom1 = document.getElementById("myChart1");
			var myChart1 = echarts.init(chartDom1);
			var chartDom2 = document.getElementById("myChart2");
			var myChart2 = echarts.init(chartDom2);


				option = {
				series: [
					{
					type: "gauge",
					center: ["50%", "60%"],
					startAngle: 200,
					endAngle: -20,
					min: 0,
					max: 100,
					splitNumber: 10,
					itemStyle: {
						color: "#389967",
					},
					progress: {
						show: true,
						width: 30,
					},

					pointer: {
						show: false,
					},
					axisLine: {
						lineStyle: {
						width: 30,
						},
					},
					axisTick: {
						distance: -45,
						splitNumber: 5,
						lineStyle: {
						width: 2,
						color: "#999",
						},
					},
					splitLine: {
						distance: -52,
						length: 14,
						lineStyle: {
						width: 3,
						color: "#999",
						},
					},
					axisLabel: {
						distance: -20,
						color: "#999",
						fontSize: 20,
					},
					anchor: {
						show: false,
					},
					title: {
						show: false,
					},
					detail: {
						valueAnimation: true,
						width: "60%",
						lineHeight: 40,
						height: "15%",
						borderRadius: 8,
						offsetCenter: [0, "-15%"],
						fontSize: 36,
						fontWeight: "normal",
						formatter: "{value}",
						color: "auto",
					},
					data: [
						{
						value: 0,
						},
					],
					},

				],
				};

				//- const ss = (model) => {
				//- console.log("model = ", model);
				//- };

				setInterval(function(){
				  console.log("after call ajax:");
				  //PH
				  option.series[0].data[0].value = phData;
				  //   option.series[1].data[0].value = random;
				   myChart.setOption(option, true);

					//EC
					option.series[0].data[0].value = ecData;
					//   option.series[1].data[0].value = 44;
					myChart1.setOption(option, true);

					//TEMP
					option.series[0].data[0].value = tempData;
					//   option.series[1].data[0].value = 66;
					myChart2.setOption(option, true);

				},2000
				);

				option && myChart.setOption(option);
				option && myChart1.setOption(option);
				option && myChart2.setOption(option);
		//- script
		//- <script type="module" src="script.js"></script>
		//- script(src='javascripts/echarts.js' type="module")
			//- include ../../public/javascripts/echarts.js
	


